stages:
  - build
  - push
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"

services:
  - docker:dind

############################
# BUILD IMAGES
############################

.build_template: &build_template
  stage: build
  image: docker:25.0.3
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

build_gateway:
  <<: *build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-api-gateway:$IMAGE_TAG ./gateway
  artifacts:
    expire_in: 1 hour
    paths:
      - gateway/

build_users:
  <<: *build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-users:$IMAGE_TAG ./users
  artifacts:
    expire_in: 1 hour
    paths:
      - users/

build_orders:
  <<: *build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-orders:$IMAGE_TAG ./orders
  artifacts:
    expire_in: 1 hour
    paths:
      - orders/

############################
# PUSH IMAGES
############################

.push_template: &push_template
  stage: push
  image: docker:25.0.3
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

push_gateway:
  <<: *push_template
  script:
    - docker push $DOCKERHUB_USERNAME/k-api-gateway:$IMAGE_TAG
  needs: ["build_gateway"]

push_users:
  <<: *push_template
  script:
    - docker push $DOCKERHUB_USERNAME/k-users:$IMAGE_TAG
  needs: ["build_users"]

push_orders:
  <<: *push_template
  script:
    - docker push $DOCKERHUB_USERNAME/k-orders:$IMAGE_TAG
  needs: ["build_orders"]

############################
# DEPLOY TEMPLATE
############################

.deploy_template: &deploy_template
  stage: deploy
  image: bitnami/kubectl:latest
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_CONTENT" > ~/.kube/config
    - kubectl version --client

############################
# DEPLOY DEV
############################

deploy_dev:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/dev --validate=false
  environment:
    name: dev
  needs:
    - push_gateway
    - push_users
    - push_orders

############################
# DEPLOY QA
############################

deploy_qa:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/qa --validate=false
  environment:
    name: qa
  needs:
    - deploy_dev

############################
# DEPLOY STAGING
############################

deploy_staging:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/staging --validate=false
  environment:
    name: staging
  needs:
    - deploy_qa

############################
# DEPLOY PROD (MANUEL)
############################

deploy_prod:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/prod --validate=false
  environment:
    name: prod
  when: manual
  only:
    - main
  needs:
    - deploy_staging
