stages:
  - build
  - push
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

# =========================
# BUILD
# =========================
build_gateway:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  script:
    - docker build -t fati1707/k-api-gateway:$IMAGE_TAG ./gateway
    - docker save fati1707/k-api-gateway:$IMAGE_TAG > gateway.tar
  artifacts:
    paths:
      - gateway.tar

build_users:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  script:
    - docker build -t fati1707/k-users:$IMAGE_TAG ./users
    - docker save fati1707/k-users:$IMAGE_TAG > users.tar
  artifacts:
    paths:
      - users.tar

build_orders:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  script:
    - docker build -t fati1707/k-orders:$IMAGE_TAG ./orders
    - docker save fati1707/k-orders:$IMAGE_TAG > orders.tar
  artifacts:
    paths:
      - orders.tar

# =========================
# PUSH
# =========================
push_gateway:
  stage: push
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  dependencies:
    - build_gateway
  script:
    - docker load < gateway.tar
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker push fati1707/k-api-gateway:$IMAGE_TAG

push_users:
  stage: push
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  dependencies:
    - build_users
  script:
    - docker load < users.tar
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker push fati1707/k-users:$IMAGE_TAG

push_orders:
  stage: push
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  dependencies:
    - build_orders
  script:
    - docker load < orders.tar
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker push fati1707/k-orders:$IMAGE_TAG

# =========================
# DEPLOY
# =========================
.deploy_template:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f $K8S_PATH --validate=false

deploy_dev:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/dev
  environment:
    name: dev
  only:
    - main

deploy_qa:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/qa
  environment:
    name: qa

deploy_staging:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/staging
  environment:
    name: staging

deploy_prod:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/prod
  environment:
    name: prod
  when: manual
  only:
    - main
