stages:
  - build
  - push
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"

services:
  - docker:25.0.3-dind

# =========================
# BUILD STAGE
# =========================

build_gateway:
  stage: build
  image: docker:25.0.3
  script:
    - docker build -t fati1707/k-api-gateway:$IMAGE_TAG ./gateway
    - docker save fati1707/k-api-gateway:$IMAGE_TAG > gateway.tar
  artifacts:
    paths:
      - gateway.tar

build_users:
  stage: build
  image: docker:25.0.3
  script:
    - docker build -t fati1707/k-users:$IMAGE_TAG ./users
    - docker save fati1707/k-users:$IMAGE_TAG > users.tar
  artifacts:
    paths:
      - users.tar

build_orders:
  stage: build
  image: docker:25.0.3
  script:
    - docker build -t fati1707/k-orders:$IMAGE_TAG ./orders
    - docker save fati1707/k-orders:$IMAGE_TAG > orders.tar
  artifacts:
    paths:
      - orders.tar

# =========================
# PUSH STAGE
# =========================

.push_template: &push_template
  stage: push
  image: docker:25.0.3
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

push_gateway:
  <<: *push_template
  dependencies:
    - build_gateway
  script:
    - docker load < gateway.tar
    - docker push fati1707/k-api-gateway:$IMAGE_TAG

push_users:
  <<: *push_template
  dependencies:
    - build_users
  script:
    - docker load < users.tar
    - docker push fati1707/k-users:$IMAGE_TAG

push_orders:
  <<: *push_template
  dependencies:
    - build_orders
  script:
    - docker load < orders.tar
    - docker push fati1707/k-orders:$IMAGE_TAG

# =========================
# DEPLOY STAGE
# =========================

.deploy_template: &deploy_template
  stage: deploy
  image: bitnami/kubectl:latest
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_CONTENT" > ~/.kube/config
    - kubectl version --client

deploy_dev:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/dev
  environment:
    name: dev
  only:
    - main

deploy_qa:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/qa
  environment:
    name: qa
  only:
    - main

deploy_staging:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/staging
  environment:
    name: staging
  only:
    - main

deploy_prod:
  <<: *deploy_template
  script:
    - kubectl apply -f k8s/prod
  environment:
    name: prod
  when: manual
  only:
    - main
