stages:
  - build
  - push
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

############################
# BUILD IMAGES
############################

.build_template:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG $CONTEXT
    - docker save $IMAGE_NAME:$IMAGE_TAG > image.tar
  artifacts:
    paths:
      - image.tar

build_gateway:
  extends: .build_template
  variables:
    IMAGE_NAME: fati1707/k-api-gateway
    CONTEXT: gateway

build_users:
  extends: .build_template
  variables:
    IMAGE_NAME: fati1707/k-users
    CONTEXT: users

build_orders:
  extends: .build_template
  variables:
    IMAGE_NAME: fati1707/k-orders
    CONTEXT: orders

############################
# PUSH IMAGES
############################

.push_template:
  stage: push
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
  script:
    - docker load < image.tar
    - docker push $IMAGE_NAME:$IMAGE_TAG

push_gateway:
  extends: .push_template
  needs: ["build_gateway"]
  variables:
    IMAGE_NAME: fati1707/k-api-gateway

push_users:
  extends: .push_template
  needs: ["build_users"]
  variables:
    IMAGE_NAME: fati1707/k-users

push_orders:
  extends: .push_template
  needs: ["build_orders"]
  variables:
    IMAGE_NAME: fati1707/k-orders

############################
# DEPLOYMENTS
############################

.deploy_template:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  script:
    - kubectl version --client
    - kubectl apply -f $K8S_PATH

deploy_dev:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/dev
  environment:
    name: dev
  only:
    - main

deploy_qa:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/qa
  environment:
    name: qa
  only:
    - main

deploy_staging:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/staging
  environment:
    name: staging
  only:
    - main

deploy_prod:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/prod
  environment:
    name: prod
  when: manual
  only:
    - main
