stages:
  - build
  - push
  - deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  DOCKER_TLS_CERTDIR: ""

########################
# BUILD
########################

.build_template:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  script:
    - docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG $BUILD_CONTEXT
  artifacts:
    expire_in: 1 hour
    paths:
      - image.txt

build_gateway:
  extends: .build_template
  variables:
    IMAGE_NAME: k-api-gateway
    BUILD_CONTEXT: gateway

build_users:
  extends: .build_template
  variables:
    IMAGE_NAME: k-users
    BUILD_CONTEXT: users

build_orders:
  extends: .build_template
  variables:
    IMAGE_NAME: k-orders
    BUILD_CONTEXT: orders

########################
# PUSH
########################

.push_template:
  stage: push
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG $BUILD_CONTEXT
    - docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG

push_gateway:
  extends: .push_template
  variables:
    IMAGE_NAME: k-api-gateway
    BUILD_CONTEXT: gateway

push_users:
  extends: .push_template
  variables:
    IMAGE_NAME: k-users
    BUILD_CONTEXT: users

push_orders:
  extends: .push_template
  variables:
    IMAGE_NAME: k-orders
    BUILD_CONTEXT: orders

########################
# DEPLOY
########################

.deploy_template:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_CONTENT" > ~/.kube/config
  script:
    - kubectl apply -f $K8S_PATH --validate=false

deploy_dev:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/dev
  environment:
    name: dev
  only:
    - main

deploy_qa:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/qa
  environment:
    name: qa
  only:
    - main

deploy_staging:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/staging
  environment:
    name: staging
  only:
    - main

deploy_prod:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/prod
  environment:
    name: prod
  when: manual
  only:
    - main
