stages:
  - build
  - push
  - deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  DOCKER_TLS_CERTDIR: ""

# ======================
# BUILD
# ======================

.build_template:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

build_gateway:
  extends: .build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-api-gateway:$IMAGE_TAG ./gateway
    - docker push $DOCKERHUB_USERNAME/k-api-gateway:$IMAGE_TAG

build_users:
  extends: .build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-users:$IMAGE_TAG ./users
    - docker push $DOCKERHUB_USERNAME/k-users:$IMAGE_TAG

build_orders:
  extends: .build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-orders:$IMAGE_TAG ./orders
    - docker push $DOCKERHUB_USERNAME/k-orders:$IMAGE_TAG


# ======================
# DEPLOY
# ======================

.deploy_template:
  stage: deploy
  image: bitnami/kubectl:latest
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_CONTENT" > ~/.kube/config
    - kubectl config set-cluster default --insecure-skip-tls-verify=true
  script:
    - kubectl apply -f $K8S_PATH --validate=false

deploy_dev:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/dev
  environment:
    name: dev
  only:
    - main

deploy_qa:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/qa
  environment:
    name: qa

deploy_staging:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/staging
  environment:
    name: staging

deploy_prod:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/prod
  environment:
    name: prod
  when: manual
  only:
    - main
