stages:
  - build
  - push
  - deploy

variables:
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:25.0.3-dind

#################################
# BUILD
#################################

.build_template:
  stage: build
  image: docker:25.0.3
  script:
    - docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG $CONTEXT
    - docker save $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG > $IMAGE_NAME.tar
  artifacts:
    paths:
      - "*.tar"

build_gateway:
  extends: .build_template
  variables:
    IMAGE_NAME: k-api-gateway
    CONTEXT: gateway

build_users:
  extends: .build_template
  variables:
    IMAGE_NAME: k-users
    CONTEXT: users

build_orders:
  extends: .build_template
  variables:
    IMAGE_NAME: k-orders
    CONTEXT: orders

#################################
# PUSH
#################################

.push_template:
  stage: push
  image: docker:25.0.3
  script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
    - docker load < $IMAGE_NAME.tar
    - docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG
  dependencies:
    - build_gateway
    - build_users
    - build_orders

push_gateway:
  extends: .push_template
  variables:
    IMAGE_NAME: k-api-gateway

push_users:
  extends: .push_template
  variables:
    IMAGE_NAME: k-users

push_orders:
  extends: .push_template
  variables:
    IMAGE_NAME: k-orders

#################################
# DEPLOY
#################################

.deploy_template:
  stage: deploy
  image: alpine/k8s:1.29.4
  before_script:
    - mkdir -p ~/.kube
    - cp "$KUBECONFIG_CONTENT" ~/.kube/config
  script:
    - kubectl apply -f $K8S_PATH --validate=false

deploy_dev:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/dev
  environment:
    name: dev
  only:
    - main

deploy_qa:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/qa
  environment:
    name: qa

deploy_staging:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/staging
  environment:
    name: staging

deploy_prod:
  extends: .deploy_template
  variables:
    K8S_PATH: k8s/prod
  environment:
    name: prod
  when: manual
  only:
    - main
