stages:
  - build
  - push
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""

#######################
# BUILD
#######################
.build_template:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

build_gateway:
  extends: .build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-api-gateway:$CI_COMMIT_SHORT_SHA ./gateway
    - docker save $DOCKERHUB_USERNAME/k-api-gateway:$CI_COMMIT_SHORT_SHA > gateway.tar
  artifacts:
    paths: [gateway.tar]

build_users:
  extends: .build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-users:$CI_COMMIT_SHORT_SHA ./users
    - docker save $DOCKERHUB_USERNAME/k-users:$CI_COMMIT_SHORT_SHA > users.tar
  artifacts:
    paths: [users.tar]

build_orders:
  extends: .build_template
  script:
    - docker build -t $DOCKERHUB_USERNAME/k-orders:$CI_COMMIT_SHORT_SHA ./orders
    - docker save $DOCKERHUB_USERNAME/k-orders:$CI_COMMIT_SHORT_SHA > orders.tar
  artifacts:
    paths: [orders.tar]

#######################
# PUSH
#######################
.push_template:
  stage: push
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

push_gateway:
  extends: .push_template
  script:
    - docker load < gateway.tar
    - docker push $DOCKERHUB_USERNAME/k-api-gateway:$CI_COMMIT_SHORT_SHA

push_users:
  extends: .push_template
  script:
    - docker load < users.tar
    - docker push $DOCKERHUB_USERNAME/k-users:$CI_COMMIT_SHORT_SHA

push_orders:
  extends: .push_template
  script:
    - docker load < orders.tar
    - docker push $DOCKERHUB_USERNAME/k-orders:$CI_COMMIT_SHORT_SHA

#######################
# DEPLOY
#######################
.deploy_template:
  stage: deploy
  image: alpine/k8s:1.29.4
  before_script:
    - mkdir -p ~/.kube
    - cp "$KUBECONFIG_CONTENT" ~/.kube/config

deploy_dev:
  extends: .deploy_template
  script:
    - kubectl apply -f k8s/dev --validate=false
  environment:
    name: dev
  only:
    - main

deploy_qa:
  extends: .deploy_template
  script:
    - kubectl apply -f k8s/qa --validate=false
  environment:
    name: qa

deploy_staging:
  extends: .deploy_template
  script:
    - kubectl apply -f k8s/staging --validate=false
  environment:
    name: staging

deploy_prod:
  extends: .deploy_template
  script:
    - kubectl apply -f k8s/prod --validate=false
  environment:
    name: prod
  when: manual
  only:
    - main
