image: docker:24.0.7

services:
  - docker:24.0.7-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

stages:
  - build
  - push
  - deploy_dev
  - deploy_qa
  - deploy_staging
  - deploy_prod

before_script:
  - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

# ======================
# BUILD IMAGES
# ======================

build_gateway:
  stage: build
  script:
    - docker build -t fati1707/k-api-gateway:$CI_COMMIT_SHORT_SHA ./gateway

build_users:
  stage: build
  script:
    - docker build -t fati1707/k-users:$CI_COMMIT_SHORT_SHA ./users

build_orders:
  stage: build
  script:
    - docker build -t fati1707/k-orders:$CI_COMMIT_SHORT_SHA ./orders

# ======================
# PUSH IMAGES
# ======================

push_gateway:
  stage: push
  script:
    - docker push fati1707/k-api-gateway:$CI_COMMIT_SHORT_SHA
  needs: ["build_gateway"]

push_users:
  stage: push
  script:
    - docker push fati1707/k-users:$CI_COMMIT_SHORT_SHA
  needs: ["build_users"]

push_orders:
  stage: push
  script:
    - docker push fati1707/k-orders:$CI_COMMIT_SHORT_SHA
  needs: ["build_orders"]

# ======================
# DEPLOY DEV (AUTO)
# ======================

deploy_dev:
  stage: deploy_dev
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f k8s/dev
  environment:
    name: dev
  only:
    - branches

# ======================
# DEPLOY QA (AUTO)
# ======================

deploy_qa:
  stage: deploy_qa
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f k8s/qa
  environment:
    name: qa
  only:
    - branches

# ======================
# DEPLOY STAGING (AUTO)
# ======================

deploy_staging:
  stage: deploy_staging
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f k8s/staging
  environment:
    name: staging
  only:
    - branches

# ======================
# DEPLOY PROD (MANUEL + MAIN)
# ======================

deploy_prod:
  stage: deploy_prod
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f k8s/prod
  environment:
    name: prod
  only:
    - main
  when: manual
