stages:
  - build
  - push
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

services:
  - docker:24.0.7-dind

before_script:
  - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

############################
# BUILD
############################

build_gateway:
  stage: build
  script:
    - docker build -t fati1707/k-api-gateway:$IMAGE_TAG gateway

build_users:
  stage: build
  script:
    - docker build -t fati1707/k-users:$IMAGE_TAG users

build_orders:
  stage: build
  script:
    - docker build -t fati1707/k-orders:$IMAGE_TAG orders

############################
# PUSH
############################

push_gateway:
  stage: push
  script:
    - docker push fati1707/k-api-gateway:$IMAGE_TAG
  needs: ["build_gateway"]

push_users:
  stage: push
  script:
    - docker push fati1707/k-users:$IMAGE_TAG
  needs: ["build_users"]

push_orders:
  stage: push
  script:
    - docker push fati1707/k-orders:$IMAGE_TAG
  needs: ["build_orders"]

############################
# DEPLOY DEV
############################

deploy_dev:
  stage: deploy
  script:
    - kubectl apply -f k8s/dev
  environment:
    name: dev
  only:
    - branches

############################
# DEPLOY QA
############################

deploy_qa:
  stage: deploy
  script:
    - kubectl apply -f k8s/qa
  environment:
    name: qa
  only:
    - branches

############################
# DEPLOY STAGING
############################

deploy_staging:
  stage: deploy
  script:
    - kubectl apply -f k8s/staging
  environment:
    name: staging
  only:
    - branches

############################
# DEPLOY PROD (MANUEL)
############################

deploy_prod:
  stage: deploy
  script:
    - kubectl apply -f k8s/prod
  environment:
    name: prod
  only:
    - main
  when: manual
