image: docker:25.0.3

services:
  - name: docker:25.0.3-dind
    command: ["--tls=false"]

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

stages:
  - build
  - deploy

.before_docker_login:
  before_script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

############################
# BUILD + PUSH
############################

build_gateway:
  stage: build
  extends: .before_docker_login
  script:
    - docker build -t fati1707/k-api-gateway:$IMAGE_TAG ./gateway
    - docker push fati1707/k-api-gateway:$IMAGE_TAG

build_users:
  stage: build
  extends: .before_docker_login
  script:
    - docker build -t fati1707/k-users:$IMAGE_TAG ./users
    - docker push fati1707/k-users:$IMAGE_TAG

build_orders:
  stage: build
  extends: .before_docker_login
  script:
    - docker build -t fati1707/k-orders:$IMAGE_TAG ./orders
    - docker push fati1707/k-orders:$IMAGE_TAG

############################
# DEPLOY
############################

deploy_dev:
  stage: deploy
  script:
    - kubectl apply -f k8s/dev
  environment:
    name: dev

deploy_qa:
  stage: deploy
  script:
    - kubectl apply -f k8s/qa
  environment:
    name: qa

deploy_staging:
  stage: deploy
  script:
    - kubectl apply -f k8s/staging
  environment:
    name: staging

deploy_prod:
  stage: deploy
  when: manual
  only:
    - main
  script:
    - kubectl apply -f k8s/prod
  environment:
    name: prod
