apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: fati1707/k-api-gateway:latest
          ports:
            - containerPort: 8000
